node_modules/
dist/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output
.coverage
.cache
.DS_Store
*.tgz
.vscode/
.idea/
*.swp
*.swo
*.iml
logs/
local/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
